p.welcome {
	color: #FFF;
	font-size: .975em;
	font-weight: normal;
	padding: 10px 15px 0 0;
}
	
.nav-pills {
	padding-top: 5px;
}

.error {
	color: red;
}
	
a.navbar-brand {
	/* background: url(/images/logo.png) no-repeat; */
	margin-left: -9999px;
	color: black;
}

.logo {
	margin-top: -25px;
	padding-bottom: 10px;
}